@media print {
  @page { margin: 0; }
  body { margin: 1.6cm; }
}

.spread {
	display: flex;
	justify-content: space-between;
}

body {
	background-color: #fff;
	font-family: sans-serif;
	font-size: 15px;
	color: #444;
	position: relative;
	line-height: 1.2em;
	margin: auto;
    padding-right: 5em;
    padding-left: 5em;
}

img {
	float: left;
	width: 15%;
	margin: 0px 15px 15px 0px
}

h1 {
	display: flex;
	font-family: sans-serif;
	font-size: 32px;
	font-weight: normal;
	flex-flow: column nowrap;
	color: #303e4c;
	margin-bottom: 10px;
}

h2 {
	font-family: sans-serif;
	font-size: 1.5em;
	color: #303e4c;
	border-bottom: 3px solid #303e4c;
	margin-top: 0px;
	padding: 10px 0px;
	flex-flow: row nowrap;
}

h3 {
	font-family: sans-serif;
	font-weight: normal;
	color: #1F80A2;
	padding-bottom: 0px;
	margin: 0px;
	text-align: left;
}

h4 {
	font-weight: normal;
	padding-bottom: 0px;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	display: inline;
}

h5 {
	font-weight: normal;
	padding-bottom: 0px;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	display: inline;
}

hr {
	background: #ddd;
	clear: both;
	float: none;
	width: 100%;
	height: 0px;
	margin: 0 0 1em;
	border: none;
}

a, a:visited {
	text-decoration: none;
	color: #1F80A2;
}

a:hover {
	text-decoration: underline;
}

ul {
	padding-left: 25px;
}

li {
	list-style: circle;
}


p {
	margin-top: 20px;
	margin-bottom: 10px;
}
