@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

:root {
    --color-black: #000000;
    --color-darkest-gray: #333333;
    --color-darker-gray: #555555;
    --color-dark-gray: #999999;
    --color-gray: #cccccc;
    --color-light-gray: #e6e6e6;
    --color-lighter-gray: #f2f2f2;
    --color-white: #ffffff;
}

hr {
    width: 1000%; /* Make the horizontal rule span the full width of the page */
    border: 0.2px solid black;
    margin-left: -500%;
}

body {
    background-color: var(--color-white);
    font-family: Lato;
    font-weight: 300;
    font-size: 14px;
}

p {
    margin-top: 0px;
}

.center {
    text-align: center;
}

b {
    font-weight: 400;
}

h1 {
    color: var(--color-darker-gray);
    justify-content: center;
    font-family: Lato;
    font-weight: 300;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    color: var(--color-black);
    font-family: Lato;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    text-transform: uppercase;
}

h3,
h4 {
    width: 50%;
    height: 60px;
    margin: 0;
    padding: 0;
    display: inline;
}

h4 {
    color: var(--color-darkest-gray);
    margin-left: 4px;
    margin-top: 0px;
    margin-bottom: 0px;
}

h5 {
    color: var(--color-darker-gray);
    margin-top: 0px;
    margin-bottom: 5px;
}

ul {
    padding-left: 20px;
    margin-top: 2px;
    margin-bottom: 5px;
}

a {
    color: var(--color-darkest-gray);
}

@page {
    size: A4; /* Change from the default size of A4 */
    margin-top: 2mm;
    margin-left: 15mm;
    margin-right: 15mm;
    margin-bottom: 3mm;
}
